mealie:
  global:
    fullnameOverride: mealie
  defaultPodOptions:
    automountServiceAccountToken: false
    dnsConfig:
      options:
        - name: ndots
          value: "3"
    labels:
      application: mealie
    securityContext:
      runAsUser: 8123
      fsGroup: 8123
      fsGroupChangePolicy: "OnRootMismatch"
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
  controllers:
    mealie:
      type: deployment
      annotations:
        secrets.infisical.com/auto-reload: "true"
      containers:
        main:
          image:
            repository: ghcr.io/mealie-recipes/mealie
            tag: "v3.3.2"
            pullPolicy: IfNotPresent
          env:
            TZ: "America/New_York"
            ALLOW_SIGNUP: false
            PUID: 8123
            PGID: 8123
            MAX_WORKERS: 3
            WEB_CONCURRENCY: 2
            OPENAI_BASE_URL: "https://ollama.xtr.pub/v1"
            OPENAI_ENABLE_IMAGE_SERVICES: "true"
            OPENAI_CUSTOM_PARAMS: '{"max_tokens": 8192, "temperature": 0.5}'
            OPENAI_MODEL: "qwen3-vl:8b-instruct-q8_0"
            OPENAI_API_KEY: "ollama"
            TOKEN_TIME: 504
            ALLOW_PASSWORD_LOGIN: "false"
            SECURITY_MAX_LOGIN_ATTEMPTS: "3"
            BASE_URL: "https://meals.baylabs.dev"
            OIDC_GROUPS_CLAIM: mealie-user
            OIDC_AUTH_ENABLED: "true"
            OIDC_AUTO_REDIRECT: "true"
            OIDC_REMEMBER_ME: "true"
            OIDC_PROVIDER_NAME: "BayLabs"
            OIDC_CONFIGURATION_URL:
              valueFrom:
                secretKeyRef:
                  name: config-vars
                  key: oidc_url
            OIDC_CLIENT_ID:
              valueFrom:
                secretKeyRef:
                  name: config-vars
                  key: oidc_client_id
            OIDC_CLIENT_SECRET:
              valueFrom:
                secretKeyRef:
                  name: config-vars
                  key: oidc_client_secret
            SMTP_HOST:
              valueFrom:
                secretKeyRef:
                  name: config-vars
                  key: smtp_host
            SMTP_FROM_EMAIL:
              valueFrom:
                secretKeyRef:
                  name: config-vars
                  key: smtp_from_email
            SMTP_USER:
              valueFrom:
                secretKeyRef:
                  name: config-vars
                  key: smtp_user
            SMTP_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: config-vars
                  key: smtp_password
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
          resources:
            limits:
              cpu: "500m"
              memory: 1Gi
            requests:
              cpu: 100m
              memory: 128Mi
  service:
    app:
      controller: mealie
      annotations:
        traefik.ingress.kubernetes.io/service.serversscheme: http
        traefik.ingress.kubernetes.io/service.passhostheader: "true"
      ports:
        http:
          enabled: true
          primary: true
          port: 9000
          protocol: HTTP
  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: le-prod
        traefik.ingress.kubernetes.io/router.entrypoints: webext
        traefik.ingress.kubernetes.io/router.pathmatcher: PathPrefix
      hosts:
        - host: meals.baylabs.dev
          paths:
            - path: /
              pathType: ImplementationSpecific
              service:
                identifier: app
                port: http
      tls:
      - hosts:
        - meals.baylabs.dev
        secretName: tls-secret
  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: ec-silver
      accessMode: ReadWriteOnce
      size: "2Gi"
      globalMounts:
        - path: /app/data
    nltk:
      enabled: true
      type: persistentVolumeClaim
      storageClass: ec-silver
      accessMode: ReadWriteOnce
      size: "2Gi"
      globalMounts:
        - path: /nltk_data

  networkpolicies:
    main:
      enabled: true
      controller: mealie
      policyTypes:
        - Ingress
        - Egress
      rules:
        ingress:
          - from:
              - namespaceSelector:
                  matchLabels:
                    name: traefik
                podSelector:
                  matchLabels:
                     app.kubernetes.io/name: traefik
        egress:
          - to:
              - namespaceSelector: {}
                podSelector:
                  matchLabels:
                    k8s-app: kube-dns
            ports:
              - port: 53
                protocol: UDP
          - to:
              - namespaceSelector:
                  matchLabels:
                    name: traefik
                podSelector:
                  matchLabels:
                     app.kubernetes.io/name: traefik
          - to:
              - ipBlock:
                  cidr: 0.0.0.0/0

infisicalSecret:
  config-vars:
    syncInterval: 900