vikunja:
  defaultPodOptions:
    automountServiceAccountToken: false
    dnsConfig:
      options:
        - name: ndots
          value: "3"
    labels:
      application: vikunja
    securityContext:
      runAsUser: 2468
      fsGroup: 2468
      fsGroupChangePolicy: "Always"
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
  controllers:
    vikunja:
      type: deployment
      annotations:
        secrets.infisical.com/auto-reload: "true"
      containers:
        main:
          image:
            repository: vikunja/vikunja
            tag: "1.0.0"
            pullPolicy: IfNotPresent
          env:
            ## ALL OPTIONS:
            ## https://vikunja.io/docs/config-options/
            VIKUNJA_SERVICE_TIMEZONE: "America/New_York"
            VIKUNJA_SERVICE_PUBLICURL: "https://todo.xtr.pub"
            VIKUNJA_DATABASE_TYPE: "sqlite"
            VIKUNJA_DATABASE_PATH: /db/vikunja.db
            VIKUNJA_SERVICE_MAXITEMSPERPAGE: 50
            # VIKUNJA_REDIS_ENABLED: 1
            # VIKUNJA_REDIS_HOST: 'dragonfly:6379'
            # VIKUNJA_CACHE_ENABLED: 1
            # VIKUNJA_CACHE_TYPE: redis
            # CRITICAL, ERROR, WARNING, NOTICE, INFO, DEBUG.
            VIKUNJA_LOG_LEVEL: "INFO"
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: true
          resources:
            limits:
              cpu: "1"
              memory: 768Mi
            requests:
              cpu: 500m
              memory: 256Mi
  service:
    app:
      controller: vikunja
      annotations:
        traefik.ingress.kubernetes.io/service.serversscheme: http
        traefik.ingress.kubernetes.io/service.passhostheader: "true"
      ports:
        http:
          enabled: true
          primary: true
          port: 3456
          protocol: HTTP
  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: le-prod
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.pathmatcher: PathPrefix
      hosts:
        - host: todo.xtr.pub
          paths:
            - path: /
              pathType: ImplementationSpecific
              service:
                identifier: app
                port: http
      tls:
      - hosts:
        - todo.xtr.pub
        secretName: tls-secret
  persistence:
    data:
      enabled: true
      type: persistentVolumeClaim
      storageClass: ec-gold
      accessMode: ReadWriteOnce
      size: "1Gi"
      advancedMounts:
        vikunja:
          main:
            - path: /app/vikunja/files
            - path: /db
    app-config:
      enabled: true
      type: custom
      volumeSpec:
        secret:
          secretName: app-config
      advancedMounts:
        vikunja:
          main:
          - path: /etc/vikunja

  networkpolicies:
    main:
      enabled: false
      controller: vikunja
      policyTypes:
        - Ingress
        - Egress
      rules:
        ingress:
          - from:
              - namespaceSelector:
                  matchLabels:
                    name: traefik
                podSelector:
                  matchLabels:
                     app.kubernetes.io/name: traefik
        egress:
          - to:
              - namespaceSelector: {}
                podSelector:
                  matchLabels:
                    k8s-app: kube-dns
            ports:
              - port: 53
                protocol: UDP
          # - to:
          #     - ipBlock:
          #         cidr: 0.0.0.0/0

dragonfly:
  deploy: false
  fullnameOverride: dragonfly
  storage:
    enabled: true
    storageClassName: "ec-gold"
    requests: 128Mi
  extraArgs:
    - --dbfilename=my-dump-{timestamp}
    - --snapshot_cron=0 18 * * *
  podSecurityContext:
    fsGroup: 2000
  securityContext:
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000
  resources:
    requests:
      cpu: 125m
      memory: 256Mi
    limits:
      cpu: 750m
      memory: 384Mi

infisicalSecret:
  app-config:
    syncInterval: 120