openwebui:
  defaultPodOptions:
    automountServiceAccountToken: false
    dnsConfig:
      options:
        - name: ndots
          value: "3"
    securityContext:
      # runAsUser: 1234
      # fsGroup: 1234
      # fsGroupChangePolicy: "Always"
      # runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
  controllers:
    openwebui:
      type: deployment
      containers:
        main:
          image:
            repository: backplane/open-webui
            tag: "0.6.41"
            pullPolicy: IfNotPresent
          env:
            TZ: "America/New_York"
            WEBUI_AUTH: "false"
            WEBUI_URL: "https://chatgpt.xtr.pub"
            OLLAMA_BASE_URL: "https://ollama.xtr.pub"
            OPENAI_API_BASE_URL: "http://192.168.11.40:8080/v1"
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
          resources:
            limits:
              cpu: "1"
              memory: 1Gi
            requests:
              cpu: "150m"
              memory: 256Mi

  service:
    openwebui:
      controller: openwebui
      annotations:
        traefik.ingress.kubernetes.io/service.serversscheme: http
      ports:
        http:
          enabled: true
          primary: true
          port: 8080
          protocol: HTTP

  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: le-prod
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.pathmatcher: PathPrefix
      hosts:
        - host: chatgpt.xtr.pub
          paths:
            - path: /
              pathType: ImplementationSpecific
              service:
                identifier: openwebui
                port: http
      tls:
      - hosts:
        - chatgpt.xtr.pub
        secretName: tls-secret

  persistence:
    data:
      enabled: true
      type: persistentVolumeClaim
      storageClass: ec-gold
      accessMode: ReadWriteOnce
      size: "2Gi"
      advancedMounts:
        openwebui:
          main:
            - path: /app/backend/data

  networkpolicies:
    main:
      enabled: false
      controller: openwebui
      policyTypes:
        - Ingress
        - Egress
      rules:
        ingress:
          - from:
              - namespaceSelector:
                  matchLabels:
                    name: traefik
                podSelector:
                  matchLabels:
                     app.kubernetes.io/name: traefik
          - from:
              - podSelector: {}
        egress:
          - to:
              - namespaceSelector: {}
                podSelector:
                  matchLabels:
                    k8s-app: kube-dns
            ports:
              - port: 53
                protocol: UDP
          - to:
              - podSelector: {}
          - to:
              - ipBlock:
                  cidr: 0.0.0.0/0

imageUpdater:
  images:
  - alias: "openwebui"
    imageName: "backplane/open-webui:0.x"
    manifestTargets:
      helm:
        name: "openwebui.controllers.openwebui.containers.main.image.repository"
        tag: "openwebui.controllers.openwebui.containers.main.image.tag"