traefik:
  fullnameOverride: traefik
  logs:
    general:
      # -- DEBUG, PANIC, FATAL, ERROR, WARN, and INFO.
      level: ERROR
    access:
      enabled: true
      format: json
  experimental:
    plugins:
      traefikoidc:
        moduleName: github.com/lukaszraczylo/traefikoidc
        version: v0.7.5
      fail2ban:
        moduleName: "github.com/tomMoulard/fail2ban"
        version: "v0.8.7"
      bouncer:
        moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
        version: "v1.4.5"
  ingressClass:
    enabled: true
    isDefaultClass: true

  updateStrategy:
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 3

  providers:
    kubernetesIngress:
      enabled: true
      publishedService:
        enabled: true

  globalArguments: []

  additionalArguments:
  - --serversTransport.insecureSkipVerify=true
  - --metrics=true
  - --metrics.prometheus=true
  - --metrics.prometheus.addEntryPointsLabels=true
  - --metrics.prometheus.addServicesLabels=true
  - --metrics.prometheus.entryPoint=metrics
  - --providers.kubernetesingress.ingressendpoint.ip=192.168.30.50
  service:
    enabled: true
    type: LoadBalancer
    annotations:
      io.cilium/lb-ipam-ips: 192.168.30.50
    labels:
      lb: "true"
    spec:
      loadBalancerIP: "192.168.30.50"
      externalTrafficPolicy: Cluster

  ports:
    traefik:
      port: 9000
      exposedPort: 9000
      protocol: TCP
    web:
      port: 8000
      exposedPort: 80
      protocol: TCP
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
    websecure:
      port: 8443
      exposedPort: 443
      protocol: TCP
      tls:
        options: traefik-tls13@kubernetescrd
      http3:
        enabled: true
        advertisedPort: 443
      forwardedHeaders:
        trustedIPs:
          - 172.30.0.0/20
          - 172.30.16.0/23
          - 192.168.30.0/26
      middlewares:
        - traefik-security-headers@kubernetescrd

    webext:
      port: 8843
      protocol: TCP
      exposedPort: 8443
      expose:
        default: true
      tls:
        enabled: true
        options: traefik-tls13@kubernetescrd
      http3:
        enabled: true
        advertisedPort: 8443
      middlewares:
        - traefik-security-headers@kubernetescrd

    metrics:
      port: 9100
      expose:
        default: true
      exposedPort: 9100
      protocol: TCP
    plex:
      port: 32400
      expose:
        default: true
      exposedPort: 32400
      protocol: TCP
    whisper:
      port: 10300
      expose:
        default: true
      exposedPort: 10300
      protocol: TCP

  podDisruptionBudget:
    enabled: true
    minAvailable: 1

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 3
    metrics:
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 60
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    behavior:
      scaleDown:
        stabilizationWindowSeconds: 300
        policies:
        - type: Pods
          value: 1
          periodSeconds: 60

  resources:
    requests:
      cpu: "125m"
      memory: "256Mi"
    limits:
      cpu: "750m"
      memory: "512Mi"

  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: '{{ template "traefik.name" . }}'
              app.kubernetes.io/instance: '{{ .Release.Name }}-{{ .Release.Namespace }}'
          topologyKey: kubernetes.io/hostname

  ingressRoute:
    dashboard:
      enabled: true
      annotations: {}
      labels: {}
      matchRule: Host(`ingress.xtr.pub`) && ( PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints: ["web"]
      tls: {}