ollama:
  defaultPodOptions:
    automountServiceAccountToken: false
    dnsConfig:
      options:
        - name: ndots
          value: "3"
    securityContext:
      # runAsUser: 1234
      # fsGroup: 1234
      # fsGroupChangePolicy: "Always"
      # runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
              - "intortus"
  controllers:
    ollama:
      type: deployment
      containers:
        main:
          image:
            repository: ollama/ollama
            tag: "rocm"
            pullPolicy: IfNotPresent
          env:
            TZ: "America/New_York"
            HSA_OVERRIDE_GFX_VERSION: "9.0.0"
            HCC_AMDGPU_TARGET: "gfx900"
            HSA_ENABLE_SDMA: "0"
          probes:
            startup:
              enabled: true
              # custom: true
              # type: HTTP
              # spec:
              #   httpGet:
              #     path: /health
              #     port: 8080
              #     scheme: HTTP
              #   initialDelaySeconds: 150
              #   periodSeconds: 10
              #   timeoutSeconds: 3
              #   failureThreshold: 3
            readiness:
              enabled: true
              # custom: true
              # type: HTTP
              # spec:
              #   httpGet:
              #     path: /health
              #     scheme: HTTP
              #     port: 8080
              #   periodSeconds: 10
              #   timeoutSeconds: 3
              #   failureThreshold: 3
            liveness:
              enabled: true
              # custom: true
              # type: HTTP
              # spec:
              #   httpGet:
              #     path: /health
              #     scheme: HTTP
              #     port: 8080
              #   periodSeconds: 10
              #   timeoutSeconds: 3
              #   failureThreshold: 3
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
          resources:
            limits:
              cpu: "14"
              memory: 18Gi
              amd.com/gpu: 1
            requests:
              cpu: "2"
              memory: 4Gi
              amd.com/gpu: 1

  service:
    ollama:
      controller: ollama
      annotations:
        traefik.ingress.kubernetes.io/service.serversscheme: http
      ports:
        http:
          enabled: true
          primary: true
          port: 11434
          protocol: HTTP

  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: le-prod
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.pathmatcher: PathPrefix
      hosts:
        - host: ollama.xtr.pub
          paths:
            - path: /
              pathType: ImplementationSpecific
              service:
                identifier: ollama
                port: http
      tls:
      - hosts:
        - ollama.xtr.pub
        secretName: tls-secret

  persistence:
    data:
      enabled: true
      type: persistentVolumeClaim
      storageClass: ec-silver-r1
      accessMode: ReadWriteOnce
      size: "75Gi"
      advancedMounts:
        ollama:
          main:
            - path: /root/.ollama

  networkpolicies:
    main:
      enabled: false
      controller: llama
      policyTypes:
        - Ingress
        - Egress
      rules:
        ingress:
          - from:
              - namespaceSelector:
                  matchLabels:
                    name: traefik
                podSelector:
                  matchLabels:
                     app.kubernetes.io/name: traefik
          - from:
              - podSelector: {}
        egress:
          - to:
              - namespaceSelector: {}
                podSelector:
                  matchLabels:
                    k8s-app: kube-dns
            ports:
              - port: 53
                protocol: UDP
          - to:
              - podSelector: {}
          - to:
              - ipBlock:
                  cidr: 0.0.0.0/0