metallb:
  deploy: false
  controller:
    resources:
      requests:
        cpu: 25m
        memory: 64Mi  
      limits:
        cpu: 100m
        memory: 100Mi
  speaker:
    resources:
      requests:
        cpu: 10m
        memory: 64Mi  
      limits:
        cpu: 100m
        memory: 100Mi