searxng:
  deploy: true
  global:
    fullnameOverride: searxng
  defaultPodOptions:
    automountServiceAccountToken: false
    dnsConfig:
      options:
        - name: ndots
          value: "3"
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                - searxng
            topologyKey: kubernetes.io/hostname
    securityContext:
      runAsNonRoot: true
      runAsUser: 977
      fsGroup: 977
      fsGroupChangePolicy: Always
      seccompProfile:
        type: RuntimeDefault
  controllers:
    searxng:
      type: deployment
      replicas: 2
      strategy: RollingUpdate
      initContainers:
        copy-configs:
          image:
            repository: busybox
            tag: latest
            pullPolicy: IfNotPresent
          command:
            - sh
            - -c
            - |
              cp /config-files/limiter.toml /config
              cp /config-files/settings.yml /config
      containers:
        main:
          image:
            repository: searxng/searxng
            tag: 2025.11.24-5fcee9bc3
            pullPolicy: IfNotPresent
          env:
            SEARXNG_BASE_URL: https://search.baylabs.dev
            SEARXNG_VALKEY_URL: redis://dragonfly:6379/0
            SEARXNG_SECRET:
              valueFrom:
                secretKeyRef:
                  key: secret-key
                  name: app-config
          resources:
            limits:
              cpu: 2000m
              memory: 2Gi
            requests:
              cpu: 250m
              memory: 512Mi
          probes:
            liveness: &lr-probe
              enabled: true
              type: &probe-type HTTP
              path: &probe-path /
              spec:
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *lr-probe
            startup:
              enabled: true
              type: *probe-type
              path: *probe-path
              spec:
                initialDelaySeconds: 10
                periodSeconds: 5
                timeoutSeconds: 5
                successThreshold: 1
                failureThreshold: 60
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
  service:
    searxng:
      controller: searxng
      annotations:
        traefik.ingress.kubernetes.io/service.serversscheme: http
      ports:
        http:
          port: &port 8080
  ingress:
    searxng:
      enabled: true
      hosts:
        - host: &domain search.xtr.pub
          paths:
            - path: /
              pathType: Prefix
              service:
                name: searxng
                port: *port
      tls:
        - hosts:
            - *domain
          secretName: tls-secret
      annotations:
        cert-manager.io/cluster-issuer: le-prod
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.pathmatcher: PathPrefix
  persistence:
    data:
      enabled: true
      type: emptyDir
      advancedMounts:
        searxng:
          copy-configs:
            - path: /config
          main:
            - path: /etc/searxng
    searxng-config-files:
      enabled: true
      type: configMap
      name: searxng-config
      advancedMounts:
        searxng:
          copy-configs:
            - path: /config-files
  networkpolicies:
    main:
      enabled: true
      controller: main
      podSelector:
        matchLabels:
          app.kubernetes.io/name: searxng
      policyTypes:
        - Ingress
        - Egress
      rules:
        ingress:
          - from:
              - podSelector: {}
          - from:
              - namespaceSelector:
                  matchLabels:
                    name: traefik
                podSelector:
                  matchLabels:
                     app.kubernetes.io/name: traefik
        egress:
          - to:
              - namespaceSelector: {}
                podSelector:
                  matchLabels:
                    k8s-app: kube-dns
            ports:
              - port: 53
                protocol: UDP
          - to:
              - podSelector: {}
          - to:
              - ipBlock:
                  cidr: 0.0.0.0/0


valkey:
  deploy: false
  fullnameOverride: redis
  auth:
    enabled: false
  resources:
    requests:
      cpu: 100m
      memory: 32Mi
    limits:
      cpu: 750m
      memory: 128Mi
  networkPolicy:
    ingress:
    - from:
        - podSelector: {}

dragonfly:
  deploy: true
  fullnameOverride: dragonfly
  storage:
    enabled: true
    storageClassName: "ec-gold"
    requests: 128Mi
  extraArgs:
    - --dbfilename=my-dump-{timestamp}
    - --snapshot_cron=0 18 * * *
  podSecurityContext:
    fsGroup: 2000
  securityContext:
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000
  resources:
    requests:
      cpu: 125m
      memory: 256Mi
    limits:
      cpu: 750m
      memory: 384Mi

infisicalSecret:
  app-config:
    syncInterval: 900